<nav class="navbar navbar-light bg-primary justify-content-between">
  <a href="" class="navbar-brand">Blog</a>
  <div *ngIf="!authService.getToken()">
    <button routerLink="/login" class="btn btn-primary my-2" type="button">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      SignIn/SignUp
    </button>
    <!-- <button
      routerLink="/register"
      class="btn btn-primary my-2 my-md-0"
      type="button"
    >
      Register
    </button> -->
  </div>
  <div *ngIf="authService.getToken()">
    <button
      (click)="logout()"
      class="btn btn-primary my-2 my-md-0"
      type="button"
    >
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      logout
    </button>
    <!-- <a routerLink="/register" class="btn btn-primary my-2 my-md-0" type="submit"
      >Register</a
    > -->
  </div>
</nav>
