body {
  background-color: #525252;
}
.centered-form {
  margin-top: 0px;
}

.registerName {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
