<div class="container">
  <div class="row centered-form">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    formControlName="firstName"
                    type="text"
                    id="first_name"
                    class="form-control input-sm"
                    placeholder="First Name"
                  />
                  <div class="text-danger" *ngIf="hasRequierError('firstName')">
                    <b>&nbsp;*required</b>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    formControlName="lastName"
                    type="text"
                    id="last_name"
                    class="form-control input-sm"
                    placeholder="Last Name"
                  />
                  <div class="text-danger" *ngIf="hasRequierError('lastName')">
                    <b>&nbsp;*required</b>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="email"
                type="email"
                id="email"
                class="form-control input-sm"
                placeholder="Email Address"
              />
              <div class="text-danger" *ngIf="hasRequierError('email')">
                <b>&nbsp;*required</b>
              </div>
              <div class="text-danger" *ngIf="hasPattern('email')">
                <b>&nbsp;*invalid</b>
              </div>
              <div
                class="text-success"
                *ngIf="
                  registerForm.get('email').dirty &&
                  !hasPattern('email') &&
                  !hasRequierError('email')
                "
              >
                <b>&nbsp;Valid</b>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    formControlName="password"
                    type="password"
                    id="password"
                    class="form-control input-sm"
                    placeholder="Password"
                  />
                  <div class="text-danger" *ngIf="hasRequierError('password')">
                    <b>&nbsp;*required</b>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="hasStrongPassword('password')"
                  >
                    Password must be at least eight characters long and include
                    at least one letter and one number. Password can also
                    include special characters.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    formControlName="confirmPassword"
                    type="password"
                    id="password_confirmation"
                    class="form-control input-sm"
                    placeholder="Confirm Password"
                  />
                  <div
                    class="text-danger"
                    *ngIf="hasRequierError('confirmPassword')"
                  >
                    <b>&nbsp;*required</b>
                  </div>

                  <div
                    class="text-danger"
                    *ngIf="
                      !hasRequierError('confirmPassword') &&
                      hasPasswordMismatchError()
                    "
                  >
                    *Password Must Match
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                (click)="resetForm()"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
